{% extends 'base.html' %}
{% load static %}
{% block title %} Доставка еды {% endblock %}

{% block content %}
<!-- <h1>{{categories}}</h1> -->
<!-- <h2>{{category}}</h2> -->
<div id="carouselExampleIndicators" class="carousel slide ma" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active karu">
      <img src="{% static 'imeges/caption.jpg' %}" class="d-block w-100" alt="caption">
    </div>
    <div class="carousel-item karu">
      <img src="{% static 'imeges/pizza_2019_1.jpg' %}" class="d-block w-100" alt="pizza">
    </div>
    <div class="carousel-item karu">
      <img src="{% static 'imeges/slider5.jpg' %}" class="d-block w-100" alt="pizza">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% for n in categories %}
<h1 class="text-center mt-5" id="products">{{n}}</h1>
<div class="container d-flex justify-content-around">
  {% for foodcard in foodCards %}
  {% if foodcard.category == n %}
  <div class="card mt-5" style="width: 18rem;">
    {% if foodcard.image.url %}
    <img src="{{ foodcard.image.url }}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
      <a href="{% url 'product' id=foodcard.id %}"
        class="card-title text-decoration-none fw-bold text-dark">{{foodcard.name}}</a>
      <p class="card-text">{{foodcard.description}}</p>
      <h5><a href="" class="text-decoration-none text-dark fst-italic">{{foodcard.price}} Сом</a></h5>
      <a href="{% url 'addCart' pk=foodcard.id %}" class="btn btn-primary ">Добавить корзинку</a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endfor %}
<!-- <div>
    {% for category in categories %}
      <h1 id="products">{{ category.title }}</h1>
      
        {% for product in foodCards %}
        {% if product.category == category %}
        <img src="{{product.image.url}}" alt="">
        <br>
        
        <h6>{{product.name}} {{category}}</h6>
        <h6>{{ product.description }} {{ category }}</h6>
        <h6>{{product.price}} {{ category }}</h6>
        <br>
        {% endif %}
        {% endfor %}
    {% endfor %}
</div> -->
{% endblock %}