{% extends 'base.html' %}
{% load static %}
{% block title %} Поиск {% endblock %}
{% block content %}

<!-- <h1>home page</h1> -->

<h4>Вы искали: <b>{{searched_product}}</b></h4>

{% for product in products %}
<div>
    <h1 class="text-center mt-5" id="products">{{product.category}}</h1>
</div>
<div class="container d-flex justify-content-around">
    <div class="card mt-5" style="width: 18rem;">
        {% if product.image.url %}
        <img src="{{ product.image.url }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <a href="{% url 'product' id=product.id %}"
                class="card-title text-decoration-none fw-bold text-dark">{{product.name}}</a>
            <!-- <a  href="product/{{foodcard.id}}" class="card-title text-decoration-none fw-bold text-dark">{{foodcard.name}}</a> -->
            <p class="card-text">{{product.description}}</p>
            <h5><a href="" class="text-decoration-none text-dark fst-italic">{{product.price}} Сом</a></h5>
            <a href="{% url 'addCart' pk=product.id %}" class="btn btn-primary ">Добавить корзинку</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}